<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qiyei.appdemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.taobao.android.hotfix.IDSECRET"
            android:value="Yours"/>
        <meta-data
            android:name="com.taobao.android.hotfix.APPSECRET"
            android:value="Yours"/>
        <meta-data
            android:name="com.taobao.android.hotfix.RSASECRET"
            android:value="Yours"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.ColorTrackTextViewActivity">
        </activity>
        <activity android:name=".activity.ViewPagerTestActivity">
        </activity>
        <activity android:name=".activity.RecyclerViewTestActivity">
        </activity>
        <activity android:name=".activity.EasyJokeMainActivity">
        </activity>
        <activity android:name=".activity.SkinTestActivity">
        </activity>
        <activity android:name=".activity.BannerTestActivity">
        </activity>
        <activity android:name=".activity.ImageSelectedTestActivity">
        </activity>
        <activity android:name=".activity.TestActivity">
        </activity>

        <service
            android:name=".service.LocalService"
            android:enabled="true"
            android:exported="false">
        </service>
        <service
            android:name=".service.RemoteService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote">
        </service>
        <service
            android:name=".service.JobWakeUpService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>
        <service
            android:name=".service.TestService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".activity.DataCenterTestActivity">
        </activity>
        <activity android:name=".activity.BinderTestActivity">
        </activity>
        <activity
            android:name=".activity.NetworkTestActivity"
            android:label="@string/title_activity_network_test"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".activity.DatabaseTestActivity"
            android:label="@string/title_activity_database_test"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>