<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiyei.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.activity.ToolbarDemoActivity"></activity>
        <activity android:name=".ui.activity.CoordinatorLayoutAndAppbarLayoutAndCollapsingToolbarLayoutActivity" />
        <activity android:name=".ui.activity.CoordinatorLayoutAndBehaviorActivity" />
        <activity android:name=".ui.activity.XGrirdViewActivity" />
        <activity android:name=".ui.activity.CommonDialogActivity" />
        <activity android:name=".ui.activity.ViewPagerTestActivity" />
        <activity android:name=".ui.activity.RecyclerViewTestActivity" />
        <activity android:name=".ui.activity.EssayJokeMainActivity" />
        <activity android:name=".ui.activity.SkinSwitchTestActivity" />
        <activity android:name=".ui.activity.BannerTestActivity" />
        <activity android:name=".ui.activity.ImageChooseTestActivity" />
        <activity android:name=".ui.activity.MultiDisplaySupportActivity" />
        <activity android:name=".ui.activity.ScanCodeActivity" />
    </application>

</manifest>