<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.qiyei.ui">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".ui.activity.DialogThemeActivity"
            android:theme="@style/DialogTheme"
            android:launchMode="singleInstance"></activity>
        <activity android:name=".ui.activity.FragmentLazyLoadTwoActivity" />
        <activity android:name=".ui.activity.FragmentLazyLoadOneActivity" />
        <activity android:name=".ui.activity.LifeCycleDemo2Activity" />
        <activity android:name=".ui.activity.LifeCycleDemoActivity" />
        <activity
            android:name=".ui.activity.task.Demo4Activity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".ui.activity.task.Demo3Activity"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.task.Demo2Activity"
            android:launchMode="singleInstance"
            android:taskAffinity="com.android.ui.task3" />
        <activity
            android:name=".ui.activity.task.Demo1Activity"
            android:launchMode="singleTask"
            android:taskAffinity="com.android.ui.task2" />
        <activity android:name=".ui.activity.LaunchModeAndTaskDemoActivity" />
        <activity android:name=".ui.activity.GLSurfaceViewDemoActivity" />
        <activity android:name=".ui.activity.SurfaceViewDemoActivity" />
        <activity android:name=".ui.activity.CollapsingToolbarLayoutDemoActivity" />
        <activity android:name=".ui.activity.ToolbarDemoActivity" />
        <activity android:name=".ui.activity.CoordinatorLayoutAndAppbarLayoutAndCollapsingToolbarLayoutActivity" />
        <activity android:name=".ui.activity.CoordinatorLayoutAndBehaviorActivity" />
        <activity android:name=".ui.activity.XGrirdViewActivity" />
        <activity android:name=".ui.activity.CommonDialogActivity" />
        <activity android:name=".ui.activity.ViewPagerTestActivity" />
        <activity android:name=".ui.activity.RecyclerViewTestActivity" />
        <activity android:name=".ui.activity.EssayJokeMainActivity" />
        <activity android:name=".ui.activity.SkinSwitchTestActivity" />
        <activity android:name=".ui.activity.BannerTestActivity" />
        <activity android:name=".ui.activity.ImageChooseTestActivity" />
        <activity android:name=".ui.activity.MultiDisplaySupportActivity" />
        <activity android:name=".ui.activity.ScanCodeActivity" />
    </application>

</manifest>