<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.qiyei.mall.usermanager">

    <application>
        <activity android:name=".ui.activity.UserRegisterActivity">
        </activity>
        <activity android:name=".ui.activity.UserLoginActivity">
        </activity>
        <activity android:name=".ui.activity.UserForgetPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.UserModifyPasswordActivity">
        </activity>
        <activity android:name=".ui.activity.UserInfoActivity">
        </activity>
    </application>

</manifest>