<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyei.performance">

    <application>
        <activity android:name=".ui.activity.MemoryOOMActivity"></activity>

        <receiver
            android:name=".ui.receiver.ANRReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.qiyei.android.perfromance.ANRTEST" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.NetworkStatsDemoActivity" />
        <activity android:name=".ui.activity.AsyncLayoutInflaterActivity" />
        <activity android:name=".ui.activity.X2CDemoActivity" />
        <activity android:name=".ui.activity.ImageViewHookActivity" />
        <activity android:name=".ui.activity.AppStartOptimizationActivity" />
        <activity android:name=".ui.activity.MemoryOptimizationActivity" />
        <activity android:name=".ui.activity.ANRActivity" />
        <activity android:name=".ui.activity.UIDrawActivity" />
        <activity android:name=".ui.activity.MemoryLeakActivity" />

        <service
            android:name=".ui.service.ANRService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>