<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qiyei.performance">

    <application>
        <activity android:name=".ui.activity.AsyncLayoutInflaterActivity"></activity>
        <activity android:name=".ui.activity.X2CDemoActivity" />
        <activity android:name=".ui.activity.ImageViewHookActivity" />
        <activity android:name=".ui.activity.AppStartOptimizationActivity" />
    </application>

</manifest>